.Game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game--Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  animation: moveUp 1s forwards ease;
}

.Game--Title {
  padding: 4rem 0;
  font-size: 5rem;
  font-weight: 800;
}

.Game--Subtitle {
  padding-bottom: 2rem;
}

.Game--Choose {
  display: flex;
  border: 1px dashed #fff;
  border-radius: 10px;
}

.Game--ChooseCube {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px dashed #fff;
  transition: all 0.3s ease;
}

.Game--ChooseCube:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Game--ChooseCube:last-child {
  border-right: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Game--ChooseCube:hover {
  background-color: #FFD651;
}

.Game--Board {
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px dashed #fff;
  border-radius: 10px;
  margin: 4rem 0;
}

.Game--BoardRow {
  display: flex;
  align-items: center;
}

.Game--BoardCube {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
}

.Game--BoardCube:nth-child(3n+1) {
  border-bottom: 1px dashed #fff;
  border-right: 1px dashed #fff;
}

.Game--BoardCube:nth-child(3n+2) {
  border-bottom: 1px dashed #fff;
}

.Game--BoardCube:nth-child(3n+3) {
  border-bottom: 1px dashed #fff;
  border-left: 1px dashed #fff;
}

.Game--BoardIcon {
  height: 60%;
}

.Game--Result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  background-color: #fff;
  min-height: 200px;
  min-width: 400px;
  border-radius: 10px;
}

.Game--Restart {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  cursor: pointer;
}

.Game--RestartLogo {
  height: 30px;
}

@keyframes moveUp {
  0% {
    margin-top: 15rem;
  }
  100% {
    margin-top: 4rem;
  }
}