.Game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game--Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  animation: moveUp 1s forwards ease;
}

.Game--Div {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game--Title {
  padding: 4rem 0;
  font-size: 5rem;
  font-weight: 800;
}

.Game--Subtitle {
  padding-bottom: 2rem;
}

.Game--Input {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  width: 400px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

.Game--Input:focus {
  outline: none;
}

.Game--Input::placeholder{
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.Game--SubmitButton {
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  background-color: #07B4FF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px
}

.Game--Choose {
  display: flex;
  border: 1px dashed #fff;
  border-radius: 10px;
}

.Game--ChooseCube {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px dashed #fff;
  transition: all 0.3s ease;
}

.Game--ChooseCube:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Game--ChooseCube:last-child {
  border-right: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Game--Board {
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px dashed #fff;
  border-radius: 10px;
  margin: 4rem 0;
}

.Game--BoardRow {
  display: flex;
  align-items: center;
}

.Game--BoardCube {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
}

.Game--BoardCube:nth-child(3n+1) {
  border-bottom: 1px dashed #fff;
  border-right: 1px dashed #fff;
}

.Game--BoardCube:nth-child(3n+2) {
  border-bottom: 1px dashed #fff;
}

.Game--BoardCube:nth-child(3n+3) {
  border-bottom: 1px dashed #fff;
  border-left: 1px dashed #fff;
}

.Game--BoardIcon {
  height: 60%;
}

.Game--Options {
  display: flex;
  align-items: center;
}

.Game--OptionsDiv {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.Game--OptionIcon {
  height: 50px;
  margin-left: 1rem;
}

.Game--Result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  background-color: #fff;
  min-height: 200px;
  min-width: 400px;
  border-radius: 10px;
}

.Game--Restart {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  cursor: pointer;
}

.Game--RestartLogo {
  height: 30px;
}

@keyframes moveUp {
  0% {
    margin-top: 15rem;
  }
  100% {
    margin-top: 4rem;
  }
}